[Unit]
Description=Allod Privileged Root Helper Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/allod-helperd
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
